ul.article-list-group{
    list-style: none;
    padding-left: 0;
}
ul.article-list-group li{
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
    padding: 15px;
}
.avatar-group{
    width: 38px;
    height: 100%;
    float: left;
}
.avatar-group .avatar{
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.article-group{
    float: left;
    width: 660px;
    margin-left: 10px;
}
.article-title a{
    color: #225599;
    font-weight: 900;
}
.article-info{
    text-align: right;
}
.article-info .article-author{
    margin-right: 20px;
}